@import url("./fonts.css");
@import url("./fontello.css");
@import url("./normalize.css");
@import url("./reset.css");
@import url("./form.css");

/* 숨김 콘텐츠 */
.a11y-hidden{
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일*/
*,
*::before,
*::after {
box-sizing: border-box;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

html{
  font-size: 10px;
}


/* 본문 스타일 */
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
  "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
  "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  sans-serif;
font-size: 1.4rem;
background-color: #ccc;
background-image: url("./images/bg_flower.png"),
  linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
background-repeat: no-repeat, repeat;
background-position: 50% 0, 0 0;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
width: 880px;
margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  height: 15vh;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  transform: translateX(10px);
}

.member li {
  background-color: pink;
  display: inline-block;
}

.member a {
  padding: 6px 8px;
  text-transform: uppercase;
}



.divider {
  background-color: RED;
  margin-right: 4px;
}


/* 메인 메뉴 */
.navigation{
  padding-bottom: 40px;
}

.menu {
  border-top: 2px solid #212121;
  background: #e85e2c
    linear-gradient(
      to bottom,
      #1e5799 0%,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%
    );
    border-radius: 0 0 5px 5px;
    display: flow-root;
    padding-left: 230px;
    height: 47px;
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;

}

.menu-button{
  line-height: 45px;
  border: 0;
  background: transparent;
  padding: 0 21px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  background: #000;
  display: block;
  height: 2px;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 47px;
  white-space: nowrap;
  padding: 4px 0;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
}

.sub-menu li,
.sub-menu a {
  display: inline-block;
}

.sub-menu li {
  margin-right: 0.2em;
}

.sub-menu a {
  padding: 6px 8px;
}

.sub-menu a::before {
  content: "\f192";
  font-family: "fontello";
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: "\e800";
}

/* 비주얼 */

@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before,
.visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: fadeEffect 2000ms alternate infinite;
  /* animation-play-state: paused; */
}

.visual::before {
  /* background-color: pink; */
  background-image: url(./images/ani_flower_01.png),
    url(./images/ani_flower_02.png);
  background-position: 0 -10px, 600px 0;
}

.visual::after {
  /* background-color: yellow; */
  background-image: url(./images/ani_flower_03.png),
    url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1000ms;
}

.visual-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  animation-name: moveEffect;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 10;
  display: inline-block;
}

/* 메인 */
.main {
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; */
  background: #fff;
  min-height: 400px;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.group {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
  /* order: 1; */
}

.group3 {
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
  clear: both;
}

/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
  clear: both;
}
/* 푸터 */
.footer {
  background: #ccc linear-gradient(to bottom,#ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}


.footer-inner{
  background: silver;
  height: 15vh;
}